<!-- your html code here 
<p>Hello, I'm the first_heading.html</p>-->
<div class="heading-row">
    <img class="image1 rounded-circle" src="assets/img/1.jpg" alt="profile-image">
    <h3><strong>First Heading Will</strong> First Heading Will Catch Your Eye</h3>
    <p style="line-height: 2;">Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! <em>Provident similique accusantium nemo autem</em> aliquid culpa  <em>Perspiciatis </em></p>
  </div>
  <div class="heading-row"">
    <img class="image2 rounded-circle" src="assets/img/2.jpg" alt="skills-image">
    <h3><strong>This Second Heading</strong> <span style="color: grey;">Is Pretty Cool Too</span></h3>
    <p style="line-height: 2;"> Morbi nec enim nunc. 
        Phasellus bibendum turpis ut ipsum egestas, sed sollicitudin elit convallis. 
        Cras pharetra mi tristique sapien vestibulum lobortis.</p>
  </div>