<!-- your html code here 
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>-->
<div class="heading-section">
    <!-- <div class="heading row d-flex">
        <div class="col-md-6">
            <h3><strong>First Heading Will</strong><span style="color: grey;"> Catch Your Eye</span></h3>
            <p style="line-height: 2;">Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! <em>Provident similique accusantium nemo autem</em> aliquid culpa  <em>Perspiciatis </em></p>
        </div>
        <div class="col-md-6">
            <img class="rounded-circle image1" src="/website/assets/img/1.jpg" alt="profile-image">
        </div>
    </div> -->
     <div class="heading row d-flex">
        <div class="col-3 g-3 ps-5">
            <img class="rounded-circle image2 ms-5" src="/website/assets/img/2.jpg" alt="skills-image">
        </div>
        <div class="col-md-8 g-3">
            <h3><strong>This Second Heading</strong> <span style="color: grey;">Is Pretty Cool Too</span></h3>
            <p style="line-height: 2;"> Morbi nec enim nunc. 
                Phasellus bibendum turpis ut ipsum egestas, sed sollicitudin elit convallis. 
                Cras pharetra mi tristique sapien vestibulum lobortis. Phasellus efficitur pretium nunc, a pretium massa fringilla in. Maecenas feugiat leo convallis, accumsan velit id, convallis dolor. Cras euismod ac massa sed laoreet. Sed metus erat, laoreet sit amet vulputate quis, mollis a eros.</p>
        </div>
    </div>
</div>