<!-- your html code here 
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>-->

     <div class="heading row d-flex">
        <div class="col-3 g-3 ps-5">
            <img class="rounded-circle image2 ms-5" src="/website/assets/img/2.jpg" alt="skills-image">
        </div>
        <div class="col-md-8 g-3">
            <h3><strong>This Second Heading</strong> <span style="color: grey;">Is Pretty Cool Too</span></h3>
            <p style="line-height: 2;"> Morbi nec enim nunc. 
                Phasellus bibendum turpis ut ipsum egestas, sed sollicitudin elit convallis. 
                Cras pharetra mi tristique sapien vestibulum lobortis. Phasellus efficitur pretium nunc, a pretium massa fringilla in. Maecenas feugiat leo convallis, accumsan velit id, convallis dolor. Cras euismod ac massa sed laoreet. Sed metus erat, laoreet sit amet vulputate quis, mollis a eros.</p>
        </div>
    </div>
